{% extends "base.html" %}
{% load staticfiles i18n %}

{% block title_slide %}
    <section class="reveal">

        <p id="edit_title">Register</p> <hr>

        <form method="post" action="." enctype="multipart/form-data" >
            {% csrf_token %}

            <div class="row"><div class="col-lg-3 col-md-4"></div>
            <div class="col-lg-6 col-md-4" id="textlabel" align="right">Username {{ form.username }}</div>
            <div class="col-lg-3 col-md-4"></div></div><br>
        <div class="row"><div class="col-lg-3 col-md-4"></div>
            <div class="col-lg-6 col-md-4" id="textlabel" align="right">First name {{ form.first_name }}</div>
            <div class="col-lg-3 col-md-4"></div></div><br>
        <div class="row"><div class="col-lg-3 col-md-4"></div>
            <div class="col-lg-6 col-md-4" id="textlabel" align="right">Last name {{ form.last_name }}</div>
            <div class="col-lg-3 col-md-4"></div></div><br>
        <div class="row"><div class="col-lg-3 col-md-4"></div>
            <div class="col-lg-6 col-md-4" id="textlabel" align="right">Email {{ form.email }}</div>
            <div class="col-lg-3 col-md-4"></div></div><br>
        <div class="row"><div class="col-lg-3 col-md-4"></div>
            <div class="col-lg-6 col-md-4" id="textlabel" align="right">Password {{ form.password1 }}</div>
            <div class="col-lg-3 col-md-4"></div></div><br>
        <div class="row"><div class="col-lg-3 col-md-4"></div>
            <div class="col-lg-6 col-md-4" id="textlabel" align="right">Confirm Password {{ form.password2 }}</div>
            <div class="col-lg-3 col-md-4"> </div></div><br>
        <div class="row"><div class="col-lg-3 col-md-4"></div>
            <div class="col-lg-6 col-md-4" id="textlabel" align="right">Click icon to upload new profile photo </div>
            <div class="col-lg-3 col-md-4" id="newProfile" ><img class="img-circle" src="/media/profile_image/default.png" id="upfile1" style="cursor:pointer" />
            <input type="file" id="file1" name="file1" style="display:none" /></div></div>

        <div class="row"><div class="col-lg-3 col-md-4"></div>
            <div class="col-lg-6 col-md-4" id="textlabel" align="right"><input id="btn_submit" class="btn btn-default btn-lg" type="submit" value="Submit"></div>
            <div class="col-lg-3 col-md-4"></div></div>

{#            <table width="100%" border="0" cellspacing="5" cellpadding="5">#}
{#                <tr><td><p><br></p></td></tr>#}
{#                {% for field in form %}#}
{#                    <tr>#}
{#                        <td style="padding: 5px;" width="100" align="right" valign="top">{{ field.label_tag }}#}
{#                        </td>#}
{#                        <td align="left" valign="top"><span style="padding: 10px;">{{ field }}</span>#}
{#                        </td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#            </table>#}
{#            <input type="submit" value="Submit">#}

        </form>
    </section>
{% endblock %}
