{% extends "base2.html" %}
{% load staticfiles i18n %}

{% block account %}

    <section class="reveal">

    <p id="edit_title">Edit Account</p> <hr>

        <form method="post" action="." enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="row">
            <div class="col-lg-12"><img class="img-circle glow" id="upfile1" src="{{ user.image.url }}" /><input type="file" id="file1" name="file1" style="display:none" /></div>
            <div class="col-lg-3"></div>
            <div class="col-lg-6" id="textlabel" align="center">Upload a new profile photo</div>
            <div class="col-lg-3"></div>
            </div><br>

        <div class="row"><div class="col-lg-3 col-md-4"></div>
            <div class="col-lg-6 col-md-4" id="real_name" align="right">Real Name {{ form.real_name }}</div>
            <div class="col-lg-3 col-md-4"></div></div><br>
        <div class="row"><div class="col-lg-3 col-md-4"></div>
            <div class="col-lg-6 col-md-4" id="email" align="right">Email {{ form.email }}</div>
            <div class="col-lg-3 col-md-4"></div></div><br>
        <div class="row"><div class="col-lg-3 col-md-4"></div>
            <div class="col-lg-6 col-md-4" id="password1" align="right">Password {{ form.password1 }}</div>
            <div class="col-lg-3 col-md-4"></div></div><br>
        <div class="row"><div class="col-lg-3 col-md-4"></div>
            <div class="col-lg-6 col-md-4" id="password2" align="right">Confirm Password {{ form.password2 }}</div>
            <div class="col-lg-3 col-md-4"> <input id="btn_submit" class="btn btn-default btn-lg" type="submit" value="Submit"></div></div><br>


        </form>

    </section>
{% endblock %}