{% extends "base2.html" %}
{% load staticfiles i18n %}

{% block account %}
    <section class="reveal">

    <h2>Edit Account</h2>

        <form method="post" action="." enctype="multipart/form-data" style="margin-left: 350px; margin-top: 150px;" >
            {% csrf_token %}
            <table border="0" cellspacing="5" cellpadding="5">
                <tr><td><p><br></p></td></tr>
                {% for field in form %}
                    <tr>
                        <td style="padding: 5px;" width="100" align="right" valign="top">{{ field.label_tag }}
                        </td>
                        <td align="left" valign="top"><span style="padding: 10px;">{{ field }}</span>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <input type="submit" value="Submit">
        </form>
    </section>
{% endblock %}