{% load staticfiles %}
<div class="panel panel-default panelhelp">
    <p class="helppage">{{ help_count }} Needs Help</p>
</div>
    <div class="panel-body body-done">
        {% if helps %}
            {% for help in helps %}
                <div><img class="user" src="{{ help.student.image.url }}"/></div><p class="name"> {{ help.student.first_name }} {{ help.student.last_name }}</p>
                <p class="date">{{ help.date.time }} {{ help.date.date }}</p>
                <div class="panel-body body-done">
                {% if help.helped %}
                    <button type="button" class="btn btn-lg btn-block been_helped">Helped!</button>
                {% else %}
                    <button data-pk="{{ help.pk }}" type="button" class="btn btn-lg btn-block need_help">Helped?</button>
                {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
<script src="{% static 'js/help_buttons.js' %}"></script>