{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Teacher Portal</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static 'css/assets.css' %}" type="text/css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
<div class="title">
<h4 class="unit">Week 6 - 1am</h4>
<h4 class="unit_title">Introduction to Design</h4>
</div>
<br>
<br>
<div class="main">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Interaction Design <span class="fa fa-caret-right"></span></a>

            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                   <p class="done">16 <i>done</i><img src="{% static 'img/Assets/Checkmark-HOLLOW.png' %}"/></p>
                </div>
                <div class="panel-body">
                   <p class="questions">2 <i>questions</i> <img src="{% static 'img/Assets/Questionmark-hollow.png' %}"/></p>
                </div>
                <div class="panel-body">
                   <p class="help">1 <i>needs help</i> <img src="{% static 'img/Assets/Exclamation-hollow.png' %}"/></p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">


                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">User Experience Design <span class="fa fa-caret-right"></span></a>

            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                   <p class="done">16 <i>done</i><img src="{% static 'img/Assets/Checkmark-HOLLOW.png' %}"/></p>
                </div>
                <div class="panel-body">
                   <p class="questions">2 <i>questions</i> <img src="{% static 'img/Assets/Questionmark-hollow.png' %}"/></p>
                </div>
                <div class="panel-body">
                   <p class="help">1 <i>needs help</i> <img src="{% static 'img/Assets/Exclamation-hollow.png' %}"/></p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">

                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Product Design <span class="fa fa-caret-right"></span></a>

            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                   <p class="done">16 <i>done</i><img src="{% static 'img/Assets/Checkmark-HOLLOW.png' %}"/></p>
                </div>
                <div class="panel-body">
                   <p class="questions">2 <i>questions</i> <img src="{% static 'img/Assets/Questionmark-hollow.png' %}"/></p>
                </div>
                <div class="panel-body">
                   <p class="help">1 <i>needs help</i> <img src="{% static 'img/Assets/Exclamation-hollow.png' %}"/></p>
                </div>
                </div>

            <div class="panel panel-default">

                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Elements of Visual Design <span class="fa fa-caret-right"></span></a>

            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                   <p class="done">16 <i>done</i><img src="{% static 'img/Assets/Checkmark-HOLLOW.png' %}"/></p>
                </div>
                <div class="panel-body">
                   <p class="questions">2 <i>questions</i> <img src="{% static 'img/Assets/Questionmark-hollow.png' %}"/></p>
                </div>
                <div class="panel-body">
                   <p class="help">1 <i>needs help</i> <img src="{% static 'img/Assets/Exclamation-hollow.png' %}"/></p>
                </div>
                </div>

</body>
</html>