{% extends "base.html" %}
{% load staticfiles i18n %}
{% load static %}

{% block extrahead %}


    <!--  for pop up overlay start -->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
    <!--  for pop up overlay end -->

{% endblock extrahead %}

{% block slides %}


<div data-role="page">
  <div data-role="header">
    <h1>Welcome To My Homepage</h1>
  </div>

  <div data-role="main" class="ui-content">
    <a href="#myPopup" data-rel="popup" class="ui-btn ui-btn-inline ui-corner-all">Show Popup</a>

    <div data-role="popup" id="myPopup" class="ui-content">
      <h3>Welcome!</h3>
      <p>The "ui-content" class is especially useful when you have a popup with
          <span style="font-size:55px;">styled text</span>, and want the edges and corners to look extra clean and sleek.
          <strong>Note:</strong> The text will wrap to multiple lines if needed.</p>
    </div>
  </div>


</div>


{% endblock slides %}

