
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
{#        <div class="row"><div class="col-lg-3 col-md-4"></div>#}
{#                <div class="col-lg-6 col-md-4" id="textlabel" align="right">Username {{ form.username }}</div>#}
{#                <div class="col-lg-3 col-md-4 textb0x"></div></div><br>#}
{#            <div class="row"><div class="col-lg-3 col-md-4"></div>#}
{#                <div class="col-lg-6 col-md-4" id="textlabel" align="right">Password {{ form.password1 }}</div>#}
{#                <div class="col-lg-3 col-md-4 textb0x"></div></div><br>#}
        {{ form.as_p }}

        <input type="submit" value="Log in">
    </form>

    <p>Not registered? <a href="{% url 'register' %}">Register here</a></p>
